$font__main: 'Lato', sans-serif;
$font__title: 'Lato', sans-serif;
$font__code: 'Helvetica', sans-serif;
$font__pre: 'Helvetica', sans-serif;
$font__icon: 'Genericons';
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


